@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

button {
  margin-left: 10px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}

.align {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-stretch {
    align-items: stretch;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
}

.vert-line {
  width: 2px;
  background-color: lighten($clr-orange, 10%);
  height: 16px;
  margin: 0 12px;
}
